td{vertical-align:top}
body {
	background:#333;
	color:#ccc;
	font:9pt georgia;
}
#log {
	width:200px;
	height:400px;
	overflow-x:auto;
	overflow-y:scroll;
	padding:2px
}
#log div {
	margin-bottom:1em
}
#game.doublesize {
	image-rendering: -moz-crisp-edges;
	width: 800px
}